<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.roushan.railwayenquiry">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/train"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PnrStatusActivity"
            android:screenOrientation="portrait"
            android:icon="@drawable/train"/>
        <activity
            android:name=".Activities.LiveTrainStatusActivity"
            android:screenOrientation="portrait"
            android:icon="@drawable/train">
        </activity>
        <activity
            android:name=".Activities.TrainRouteActivity"
            android:screenOrientation="portrait"
            android:icon="@drawable/train">
        </activity>
        <activity android:name=".Activities.SeatAvailabilityActivity"
                  android:screenOrientation="portrait"
                  android:icon="@drawable/train">
        </activity>
        <activity android:name=".Activities.TrainBtnStationsActivity"
                  android:screenOrientation="portrait"
                  android:icon="@drawable/train">
        </activity>
    </application>

</manifest>